<div id="countdown_panel">
    <div>
       <table style="margin: auto">
            <tr>
                <th> 
                    <label for="countdown_h_value">{{localize 'SIMPLE-COUNTDOWN.Overlay.hourAbbr'}}</label>
                </th>
                
                <th/>
    
                <th>
                    <label for="countdown_min_value">{{localize 'SIMPLE-COUNTDOWN.Overlay.minAbbr'}}</label>
                </th>
                
                <th/>
                
                <th>
                    <label for="countdown_sec_value">{{localize 'SIMPLE-COUNTDOWN.Overlay.secAbbr'}}</label>
                </th>
            </tr>

            <tr>
                <td> 
                    <input id="countdown_h_value" type="number" size="2" min="0" max="24"
                        {{#unless isGM}} disabled=true {{/unless}}
                    />
                </td>
                
                <td>:</td>
       
                <td>
                    <input id="countdown_min_value" type="number" size="2" min="0" max="59"
                       {{#unless isGM}} disabled=true {{/unless}}
                    />
                </td>
                
                <td>:</td>
                
                <td>
                    <input id="countdown_sec_value" type="number" size="2" min="0" max="59"
                           {{#unless isGM}} disabled=true {{/unless}}
                    />
                </td>
       
           </tr></table>
           
        {{#if isGM}}
        <div id='countdown_controle'>
            <i id='countdown_btn_start' class="fas fa-play fa-xl"></i>
            <i id='countdown_btn_pause' class="fas fa-pause fa-xl hidded"></i>
            <i id='countdown_btn_reset' class="fas fa-stop fa-xl"></i>
            <i id='countdown_btn_sync' class="fas fa-rotate fa-xl"></i>
        </div>
        {{/if}}
    </div>
</div>
