<!--
    <header class="window-header flexrow draggable resizable" style="
    /* color: rgba(255,255,255,0.87); */
    background-color: rgb(68,68,68);
    height: 20px;
    font-size: 12px;
">
        <h4 class="window-title">Countdown</h4>
        <a class="header-button close"><i class="fas fa-times"></i>Fermer</a>
    </header>
-->
<div id="countdown_panel">
    <div>
       <table style="margin: 0px; width: 100px;">
            <tr>
                <td> 
                    <input id="countdown_h_value" type="number" size="2" min="0" max="24" style="width:25px;"
                        {{#unless isGM}} disabled=true {{/unless}}
                    />
                </td>
                
                <td>:</td>
       
                <td>
                    <input id="countdown_min_value" type="number" size="2" min="0" max="59" style="width:25px;"
                       {{#unless isGM}} disabled=true {{/unless}}
                    />
                </td>
                
                <td>:</td>
                
                <td>
                    <input id="countdown_sec_value" type="number" size="2" min="0" max="59" style="width:25px;"
                           {{#unless isGM}} disabled=true {{/unless}}
                    />
                </td>
       
           </tr></table>
           
        {{#if isGM}}
        <div id='countdown_controle'>
            <i id='countdown_btn_start' class="fas fa-play"></i>
            <i id='countdown_btn_pause' class="fas fa-pause"></i>
            <i id='countdown_btn_reset' class="fas fa-stop"></i>
        </div>
        {{/if}}
    </div>
</div>
