#countdown-form{
	width: fit-content !important;
    font-size: 13px
}

#countdown_timer{
    margin: auto
}

#countdown_timer th, td{
    padding: 0.5rem 0;
}

input[type="number"]{
    width: 2rem;
    text-align: right;
}

td{
    text-align: center;
}

#countdown_visibility {
    display: flex;
    justify-content: center; 
    padding-top: 10px;
}

#countdown_visibility .item.active img {
    color: #FFF;
    border: 1px solid red;
    border-bottom: none;
    box-shadow: 0 0 6px inset #ff6400;
}

#countdown_visibility .item img {
    width: 30px;
    height:30px;
}

#countdown_controle {
    padding-top: 15px; 
    padding-bottom: 15px; 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    justify-items: center;
}

#countdown_btn_pause {
    display: none;
}

.playing #countdown_btn_pause  {
    display: block;
}

.playing #countdown_btn_start  {
    display: none;
}

.rotating-timer {
    animation: timer-rotation 5s infinite linear;
    color: blue;
    font-size: 50px;
  }
  
  @keyframes timer-rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.rotating-timer-paused {
    font-size: 50px;
}