#countdown-form{
	width: fit-content !important;
    font-size: 13px
}

#countdown-form-GM{
	width: fit-content !important;
    font-size: 13px
}

.hidded {
    display:none
}

#countdown_controle {
    padding-top: 15px; 
    padding-bottom: 15px; 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    justify-items: center;
}

input[type="number"]{
    width: 25px;
    text-align: right;
}

td{
    text-align: center;
}

#countdown_visibility .item.active img {
    color: #FFF;
    border: 1px solid red;
    border-bottom: none;
    box-shadow: 0 0 6px inset #ff6400;
    border-radius: 5px 5px 0 0;
}

#countdown_visibility .item img {
    width: 30px;
    height:30px;
}