#countdown-form{
	width: fit-content !important;
    height: 75px !important;
    font-size: 13px
}

#countdown-form-GM{
	width: fit-content !important;
    height: 105px !important;
    font-size: 13px
}    